@model Orange_Beauty.Models.NivelAcesso

@{
    ViewData["Title"] = "Detalhes Níveis de Acesso";
}

<br />

<a type="button" class="btn btn-primary" href="~/Administrador/Index">Voltar</a>

<br />
<br />

<div>
    <h4>Níveis de Acesso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeNivelAcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeNivelAcesso)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.NivelAcessoID">Editar</a>
</div>