@model Orange_Beauty.Models.Categoria

@{
    ViewData["Title"] = "Details";
}
<br />

<a type="button" class="btn btn-primary" href="~/Administrador/Index">Voltar</a>

<br />
<br />
<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeCategoria)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.CategoriaID">Editar</a>

</div>
