@model Orange_Beauty.Models.Produto

@{
    ViewData["Title"] = "Edit";
}

<br />

<a type="button" class="btn btn-primary" href="~/Administrador/Index">Voltar</a>

<br />
<br />

<h4>Editar Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProdutoID" />
            <div class="form-group">
                <label asp-for="NomeProd" class="control-label"></label>
                <input asp-for="NomeProd" class="form-control" />
                <span asp-validation-for="NomeProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaID" class="control-label"></label>
                <input asp-for="CategoriaID" class="form-control" />
                <span asp-validation-for="CategoriaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoProd" class="control-label"></label>
                <input asp-for="PrecoProd" class="form-control" />
                <span asp-validation-for="PrecoProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoProd" class="control-label"></label>
                <input asp-for="DescricaoProd" class="form-control" />
                <span asp-validation-for="DescricaoProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstoqueProd" class="control-label"></label>
                <input asp-for="EstoqueProd" class="form-control" />
                <span asp-validation-for="EstoqueProd" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
