@model Orange_Beauty.Models.Status

@{
    ViewData["Title"] = "Excluir Status";
}

<br />

<a type="button" class="btn btn-primary" href="~/Administrador/Index">Voltar</a>

<br />
<br />

<h4>Apagar Status</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StatusID" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
    </form>
</div>
