@model Orange_Beauty.Models.Status

@{
    ViewData["Title"] = "Detalhes Status";
}

<br />

<a type="button" class="btn btn-primary" href="~/Administrador/Index">Voltar</a>

<br />
<br />

<div>
    <h4>Detalhes</h4>
    <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeStatus)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.StatusID">Editar</a>
</div>