@model Orange_Beauty.Models.Status

@{
    ViewData["Title"] = "Editar Status";
}

<br />

<a type="button" class="btn btn-primary" href="~/Administrador/Index">Voltar</a>

<br />
<br />

<h4>Editar Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StatusID" />
            <div class="form-group">
                <label asp-for="NomeStatus" class="control-label"></label>
                <input asp-for="NomeStatus" class="form-control" />
                <span asp-validation-for="NomeStatus" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
